@import './var.scss';

*{
  list-style: none;
  text-decoration: none;
}
html, body{
  margin: 0;
  padding: 0;
}
@each $colorKey, $color in $colors {
  .bg-#{$colorKey}{
    background: $color;
  }
};
@each $colorKey, $color in $colors {
  .c-#{$colorKey}{
    color: $color;
  }
};
.w-100{
  width: 300px;
  height: 100px;
}
.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.d-none{
  display: none;
}
@each $key, $value in $flex-direction{
    .dir-#{$key}{
        flex-direction: $value;
    }
}
@each $key, $value in $flex-wrap{
    .wrap-#{$key}{
        flex-wrap: $value;
    }
}
@each $key, $value in $flex-jc{
    .jc-#{$key}{
        justify-content: $value;
    }
}
@each $key, $value in $flex-as{
    .as-#{$key}{
        align-self: $value;
    }
}
@each $key, $value in $flex-ac{
    .ac-#{$key}{
        align-content: $value;
    }
}
@each $key, $value in $flex-ai{
    .ai-#{$key}{
        align-items: $value;
    }
}

@each $key, $value in $spacing-types{
  @each $key1, $value1 in $spacing-sizes{
    .#{$key}-#{$key1} {
      #{$value}: $value1 * $spacing-base-size
    }
  }
}

@each $key, $value in $font-size{
  .fs-#{$key}{
    font-size: $value * $spacing-base-size;
  }
}
@each $key, $value in $position{
  .ps-#{$key}{
    position: $value;
  }
}
