$colors:(
        'white': #fff,
        'black': #000,
        'pink': pink,
        'green': green,
        'red': red,
        'yellow': yellow,
        'skyblue': skyBlue,
        'f1': #f1f1f1,
        '77': #777777,
        '57': #57657e,
);
$flex-direction:(
        row: row,
        column: column,
        rowReverse: row-reverse,
        columnReverse: column-reverse,
);
$flex-wrap:(
        nowrap: nowrap,
        wrap: wrap,
        wrapReverse: wrap-reverse,
);
$flex-jc:(
        start: flex-start,
        center: center,
        end: flex-end,
        between: space-between,
        around: space-around,
);
$flex-as:(
        start: flex-start,
        center: center,
        end: flex-end,
        baseline: baseline,
);
$flex-ac:(
        flex-start: flex-start,
        flex-end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        stretch: stretch,
);
$flex-ai:(
        start: flex-start,
        center: center,
        end: flex-end,
        baseline: baseline,
        stretch: stretch,
);

$spacing-types: (
        m: margin,
        p: padding,
);
$spacing-base-size: 1rem;
$spacing-sizes: (
        0: 0,
        22: 0.22
);
$font-size: (
        1: 0.1,
        12: 0.12,
        48: 0.48,
);
$position: (
        r: relative,
        a: absolute,
        f: fixed,
)
